{% extends 'base.html' %}


{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-danger"> Жди нас, Марс! </h1>

    <img class="w-25" src="https://www.goodfreephotos.com/albums/astrophotography/full-view-of-mars.jpg" alt="Planet Mars">

    <div class="container bg-dark-subtle">
        <h2>Человечество вырастает из детства</h2>
    </div>
    <div class="container bg-success-subtle">
        <h2>Человечеству мала одна планета</h2>
    </div>
    <div class="container bg-dark-subtle">
        <h2>Мы сделаем обитаемыми безжизненные пока планеты</h2>
    </div>
    <div class="container bg-warning-subtle">
        <h2>И начнем с Марса!</h2>
    </div>
    <div class="container bg-danger-subtle">
        <h2>Присоединяйся!</h2>
    </div>


</div>

{% endblock %}